.borderDesodChica {
  width: 2.8cm;
  height: 3.8cm;
  border-radius: 16px;
  border-width: 0.1cm;
}
.logoDesodChica {
  width: 2cm;
  padding: 2px 0px;
}
.sloganDesodChica {
  font-size: 60%;
  font-weight: bold;
  line-height: 90%;
}
.productDesodChica {
  display: flex;
  align-items: center;
  padding: 2px;
  flex-grow: 1;
  line-height: 95%;
}
.propertyDesodChica {
  font-size: 60%;
  line-height: 95%;
  flex-grow: 1;
}
.footerDesodChica {
  flex-grow: 4;
}
.barcodeDesodChica {
  padding: 0px;
  filter: opacity(80%);
  margin-bottom: 1px;
}
.quantityDesodChica {
  font-size: 70%;
  margin: 2px 4px;
}
