/* --------------- Jabon Solido----------------- */
.borderJabonSolido {
  width: 5.7cm;
  height: 3.7cm;
  border-radius: 16px;
  border-width: 0.15cm;
}
.logoJabonSolido {
  height: 1cm;
  padding: 2px 0px;
}
.sloganJabonSolido {
  font-size: 80%;
  line-height: 90%;
}
.productJabonSolido {
  display: flex;
  align-items: center;
  flex-grow: 3;
  padding: 5px 4px;
  font-size: 110%;
  line-height: 90%;
}
.propertyJabonSolido {
  font-size: 80%;
  line-height: 90%;
}
.barcodeJabonSolido {
  filter: opacity(80%);
}
.footerJabonSolido {
  display: flex;
  flex-direction: row;
}
.barcodeJabonSolido {
  padding: 1px;
  filter: opacity(80%);
}
.quantityJabonSolido {
  justify-self: flex-end;
  align-self: flex-end;
  margin-left: auto;
  padding-right: 4px;
  padding-bottom: 2px;
  font-size: 75%;
}
