.borderCircularChica {
  width: 3.7cm;
  height: 3.7cm;
  border-radius: 50%;
  border-width: 0.15cm;
}
.arc {
  width: 3.62cm; /*Adjust this to fit the circle text*/
  position: absolute;
}
.propertyCircularChica {
  font-size: 40%;
  letter-spacing: 0.5pt;
}
.logoCircularChica {
  width: 1.75cm;
  padding-top: 6px;
}
.sloganCircularChica {
  font-size: 60%;
}
.barcodeCircularChica {
  font-size: 80%;
}
.productCircularChica {
  font-size: 70%;
  padding: 0px 8px;
}
.quantityCircularChica {
  font-size: 65%;
  padding: 2px 0px;
}
