/* --------------- Liquidos ----------------- */
.borderLiquidos {
  width: 4.7cm;
  height: 6.7cm;
  border-radius: 16px;
  border-width: 0.15cm;
}
.logoLiquidos {
  width: 3.5cm;
  padding: 2px 0px;
}
.sloganLiquidos {
  font-size: 100%;
  line-height: 90%;
  font-weight: bold;
}
.productLiquidos {
  display: flex;
  align-items: center;
  padding: 4px;
  flex-grow: 2;
  font-size: 120%;
  font-weight: bold;
}
.propertyLiquidos {
  font-size: 90%;
  flex: 1 1 auto;
}
.footerLiquidos {
  display: flex;
  flex-direction: row;
}
.barcodeLiquidos {
  padding: 0px;
  filter: opacity(80%);
}
.quantityLiquidos {
  margin-left: auto;
  padding-right: 4px;
  padding-bottom: 2px;
  font-size: 85%;
}
