/* Browser properties Reset */
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html.build-mode body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* Add this class with border class to add a image background */
.imgBG {
  z-index: 1;
  background: rebeccapurple;
  background-image: url("Resources/circles.png");
  background-size: contain;
}

/* --------------- General CSS ----------------- */
.generateButton {
  font-size: 120%;
  font-weight: bold;
  margin: 8px;
  padding: 4px;
  background-color: var(--primary-dark);
  color: var(--text-on-dark-bg-color);
  border-radius: var(--elementsBorderRadius);
  border: 2px solid var(--primary-dark);
}
.generateButton:hover {
  border-color: var(--secondary-color);
}
.border {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: rgb(207, 164, 70);
  z-index: -1;
}
.slogan {
  /*width: 8ex; /* To center, equals to 8 text characters */
  font-family: "Roboto", Arial;
  color: #6b6b6b;
  text-align: center;
}

/* Product */
.product {
  font-family: "Roboto", Arial;
  text-align: center;
  color: rgb(207, 164, 70);
  font-weight: bold;
  filter: brightness(0.7);
  filter: saturate(130%);
  z-index: -1;
}
.property {
  font-family: "Roboto", Arial;
  text-align: center;
  color: #4d4d4d;
  fill: #4d4d4d;
  font-weight: bold;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  align-items: flex-end;
  justify-content: space-between;
}
.quantity {
  font-family: "Roboto", Arial;
  color: #777777;
}
.barcode {
  z-index: -1;
  display: none;
}
