.instruction{
    margin: 8px;
    font-family: arnimex;
    font-size: 3rem;
    text-align: center;
}

.galleryItem{
    width: 128px;
    margin: 8px;
    border: 0.5rem solid var(--topBar);
}
.galleryItem:hover{
    border: 0.5rem solid var(--seconday-dark);
}

#printArea{
    width: 100px;
    height: 100px;
    background-image: url('/Resources/Patterns/coffee1.png');
}